# Ignore everything
/*
*.DS_STORE

# Folders
!/gradle
!/src
!/.github
!/m2

# Files
!/.gitattributes
!/.gitignore
!/.editorconfig
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle
!/Jenkinsfile
!/checkstyle.xml
!/codenarc.groovy
!/bootstrap

/src/**/generated